.bookRow{
  overflow: auto;
}
.bookList{
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: -1;
}
.bookListItem {
  display: inline-block;
  margin: 7px 1%;
  padding: 0;
  width: 18%;
}
@media screen and (max-width: 414px){
  .bookListItem {
    margin: 7px 1%;
    width: 48%;
  }
}
@media screen and (max-width: 768px){
  .bookListItem {
    margin: 7px 0.665%;
    width: 32%;
  }
}
.bookPlaceholder{
  width: 100%;
  height: 100%;
  background-color: rgb(242, 242, 242);
  margin: 0;
}
.bookCover{
  width: 100%;
  margin: 0;
}

.bookInfo{
  margin: 0.5rem;
}
.bookTitle{
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0px;
}

.bookAuthor{
  font-style: italic;
}
