div.bookBlock{
  overflow: auto;
}
.bookList{
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: -1;
}
.bookListItem {
  display: inline-block;
  margin: 7px 1%;
  padding: 0;
  width: 18%;
  cursor: pointer;
}

.bookPlaceholder{
  width: 100%;
  height: 35vh;
  background-color: rgb(242, 242, 242);
  margin: 0;
}
.bookCover{
  width: 100%;
  margin: 0;
}

div.bookInfoRow{
  display:flex;
  justify-content: flex-start;
}
.bookInfo{
  margin: 0.5rem;
  width: 36%;
  overflow-wrap: break-word;
}
.bookTitle{
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0px;
}

.bookAuthor{
  font-size: 1.15rem;
}

.bookInfoBlock {
  display: inline-block;
  margin: 7px 1%;
  padding: 0;
  width: 18%;
}
@media screen and (max-width: 768px){
  .bookListItem {
    margin: 7px 0.665%;
    width: 32%;
  }
  .bookInfoBlock {
    margin: 7px 0.665%;
    width: 32%;
  }
  .bookInfo{
    width: 60%;
  }
}

@media screen and (max-width: 414px){
  .bookListItem {
    margin: 7px 1%;
    width: 48%;
  }
  .bookInfoBlock {
    width: 0vw;
  }
  .bookInfo{
    width: 95%;
  }

}
