.notifOverlay{
  display: block;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent;
}
.bubble{
  position: absolute;
  border: 0px;
  margin: -10px 55px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  padding: 20px;
  width: 25vw;
  z-index: 11;
  font-family: 'Lato', sans-serif;
  background-color: white;

}

@media screen and (max-width:414px) {
  .bubble{
    width: auto;
  }
}
.messageText {
  font-size: 1em;
  color: #3d464f;
}


.btnPrimary {
    color: #fff;
    background-color: #7bbdcb;
    border-color: #7bbdcb;
}

.messageButtons{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0 0;
}
