.notifOverlay{
  display: block;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent;
}
.bubble{
  position: absolute;
  border: 0px;
  margin: 10px 10px;
  border-radius: 15px;
  padding: 20px;
  width: 25vw;
  background: rgba(230, 230, 230,1.0);
  z-index: 1;
}

@media screen and (max-width:414px) {
  .bubble{
    width: auto;
  }
}
.messageText {
  font-size: 1em;
}

.btn{

}
.btnPrimary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.messageButtons{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0 0;
}
