.user-message{
  width: 100%;
  border: 0px;
}

.editText{
  overflow-wrap: break-word;
  position: absolute;
  min-height: 2rem;
}

.editText:focus {
    outline: 0px solid transparent;
}
