.user-message{
  width: 100%;
  border: 0px;
}

.editText{
  overflow-wrap: break-word;
  min-height: 2rem;
}

.editText:empty::before {
    content: 'Reply back';
    color: grey;
}
:empty:focus::before {
    content: ' ';
}
.editText:focus {
    outline: 0px solid transparent;
}
